:root {
  font-family: "Rubik", serif;
}
body {
  background-color: #ecf0f1;
}
.content {
  max-width: 800px;
  margin: auto;
}
.container {
  display: flex;
  gap: 10px;
}
.container .right {
  flex-grow: 2;
}
@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
